.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ce0000; /* Match your theme color */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a80000; /* Darker shade on hover */
}
