.order-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1c1c1c;
  }
  
  .confirmation-container {
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .order-header {
    background-color: #e50914;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .cinema-text {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
  }
  
  h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  
  .confirmation-card {
    background: #2d2d2d;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Ensures both image and text align properly */
    width: 90%;
    max-width: 670px;
    min-height: 450px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .content-wrapper {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .movie-poster {
    flex: 25px; /* Ensures the poster has a fixed width */
    height: 500px; /* Set the height for the poster */
    background-color: #666;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .poster-image {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .order-details {
    flex: 1;
    text-align: left;
    color: #ddd;
    padding: 0 20px;
    line-height: 1.8;
  }
  
  .order-movie-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .order-details p {
    margin: 8px 0;
    font-size: 1.1rem;
    padding-left: 60px;
  }
  
  footer {
    margin-top: 20px;
    font-size: 1.4em;
    color: #f5f5f5;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
  }
  