h3 {
    margin: 0px;
    display: flex;
    justify-content: left;
}

.saved-cards-container {
    border: 1px solid white;
    padding: 10px; 
}

.card-rows :hover {
    background-color: red;
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #353535;
    width: 100%;
    border-width: 0;
    line-height: 0px;
    padding: 0px;
}

.card :hover {
    background-color: #555;
}

.card-type {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: medium;
    width: 100%;
    align-items: baseline;
}

.card-logo {
    width: 40px; 
    height: auto; 
    align-self: center;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -20px;
}

.small-text {
    font-size: small;
    color: lightgray;
}

.payment-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.payment-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; 
}

.payment-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; 
}

.payment-title {
    text-align: left;
    flex: 1; /* Pushes the value to the right */
    padding-right: 40px;
}

.payment-value {
    text-align: right;
    flex: 0; /* Keeps the value aligned to the right */
}

.total-row {
    font-weight: bold;
    padding-top: 10%;
}

label {
    margin-left: 10px;
}