/* REMOVE COMMENTED OUT CODE */

.select-tickets-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ticket-selection-section {
    flex: 2;
    margin-left: 40px;
}

.ticket-type {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.trailer-link {
    background-color: #353535;
    color: white;
    text-decoration: underline;
    padding: 0px;
    font-size: 16px;
    /* width: 25%; */
    cursor: pointer;
    display: flex;
    justify-items: left;
}

.trailer-link:hover {
    background-color: #353535;
    color:rgb(101, 143, 194);
}

.button {
    background-color: #353535;
    border: 1px solid white;
    font-weight: bold;
}