.admin-navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ce0000;
    color: white;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-right: 5%;
  }
  
  .admin-navbar .logo h1 {
    font-size: 24px;
    margin: 0;
    /* margin-left: 750px; */
    margin-left: 80%;
  }