.admin-navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ce0000;
    color: white;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-right: 5%;
  }
  
  .admin-navbar .logo h1 {
    font-size: 24px;
    margin: 0;
    /* margin-left: 750px; */
    margin-left: 80%;
  }

  .admin-navbar .logo {
    cursor: pointer; /* Indicates that the logo is clickable */
  }

  .nav-buttons .btn {
    padding: 10px 20px; /* Adds padding to the buttons */
    margin-left: 10px; /* Adds some spacing between the buttons */
    border: none;
    cursor: pointer;
    background-color: #222;
    color: white;
  }  
